[submodule "BFM_to_FLAME"]
	path = BFM_to_FLAME
	url = https://github.com/TimoBolkart/BFM_to_FLAME.git
[submodule "photometric_optimization"]
	path = photometric_optimization
	url = https://github.com/zengxianyu/photometric_optimization.git
